.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  /* background-color: aliceblue; */
  background-color: rgb(201, 209, 216);
}

.homeContentsWrapper {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 1rem;
  /* padding-top: 2rem; */
  width: 80%;
  border-radius: 1rem;
  box-shadow: 4px 4px 20px #adadad;
  border: 1px solid #e9e9e9;
}

header {
  background-color: #e6e4e4;
  padding: 2rem 0 1rem 0;
  margin-bottom: 2rem;
}

header h5 {
  color: #942378;
}

header h4 {
  text-transform: uppercase;
}

.homeHr {
  width: 75%;
}

.signUpForm, .loginForm {
  margin: 0 auto;
  width: 80%;
}

.buttonWrapper {
  margin: 0 auto;
}

.signUpBtn, .loginBtn {
  /* background-color: #dcf0ef!important; */
  border: 1px solid #c8c8c8!important;
  border-radius: 8px!important;
  /* box-shadow: 2px 4px 10px #b3b1b1!important; */
  padding: .3rem 2rem!important;
}

.signUpBtn:hover, .loginBtn:hover {
  background-color: #666666!important;
  color: #fff!important;
}

.input-group-prepend span {
  font-size: .9rem;
}

.input-group input::placeholder {
  color: #aeaeae;
  font-size: .8rem;
}

footer {
  background-color: #e6e4e4;
}

footer p {
  font-size: .7rem;
  padding-top: 1rem;
  color: #942378;
}